/* body {
    background-image: linear-gradient(90deg, rgb(58, 58, 58), rgb(14, 12, 12));
} */

.imageSection {
    height: 100vh;
    width: 40vw;
}

.absoluteTitle {
    position: absolute;
    color: black;
    top: 20%;
    right: 20%;
}

.container-category-me {
    scroll-snap-type: y mandatory;
    overflow-y: auto;
    height: 100vh;
}

.container-category-me section {
    height: 100vh;
    /* display: flex; */
    align-items: center;
    color: white;
    scroll-snap-align: start;
    position: relative;
}